<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.ifsim.vairline.core.role.dao.RoleDao">

	<insert id="createRole" parameterType="org.ifsim.vairline.core.role.domain.Role"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null">
				name,
			</if>
			<if test="type!=null">
				type,
			</if>
			<if test="level!=null">
				level,
			</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name!=null">
				#{name},
			</if>
			<if test="type!=null">
				#{type},
			</if>
			<if test="level!=null">
				#{level},
			</if>
		</trim>
	</insert>

	<delete id="deleteRole" parameterType="org.ifsim.vairline.core.role.domain.Role">
		DELETE
		FROM t_role
		WHERE id
		= #{id}
	</delete>

	<update id="updateRole" parameterType="org.ifsim.vairline.core.role.domain.Role">
		UPDATE t_role
		<trim prefix="SET" suffixOverrides=",">
			<if test="name!=null">
				name = #{name},
			</if>
			<if test="type!=null">
				type = #{type},
			</if>
			<if test="level!=null">
				level = #{level},
			</if>
		</trim>
		WHERE id = #{id}
	</update>

	<select id="getRole" parameterType="org.ifsim.vairline.core.role.domain.Role"
		resultType="org.ifsim.vairline.core.role.domain.Role">
		SELECT *
		FROM t_role
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="name!=null">
				AND name = #{name}
			</if>
			<if test="type!=null">
				AND type = #{type}
			</if>
			<if test="level!=null">
				AND level = #{level}
			</if>
		</trim>
	</select>

	<select id="getRoleById" parameterType="org.ifsim.vairline.core.role.domain.Role"
		resultType="org.ifsim.vairline.core.role.domain.Role">
		SELECT *
		FROM t_role
		WHERE id = #{id}
	</select>

	<select id="getByUserRoleAndRole" resultType="org.ifsim.vairline.core.role.domain.Role">
		SELECT r.*
		FROM t_user_role ur,t_role r
		<trim prefix="WHERE" prefixOverrides="AND">
			AND ur.role_id = r.id
			<if test="param1.username != null">
				AND ur.username = #{param1.username}
			</if>
			<if test="param2.name != null">
				AND r.name = #{param2.name}
			</if>
			<if test="param2.type != null">
				AND r.type = #{param2.type}
			</if>
		</trim>
	</select>

</mapper>
