<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.ifsim.vairline.core.article.dao.ArticleDao">

	<resultMap
		type="org.ifsim.vairline.core.article.domain.ArticleAndTendencyDto"
		id="articleAndTendencyDtoResultMap">
		<id column="ate_id" />
		<association property="articleTendency" autoMapping="true"
			columnPrefix="ate_" javaType="org.ifsim.vairline.core.article.domain.ArticleTendency"></association>
		<association property="article" autoMapping="true"
			columnPrefix="a_" javaType="org.ifsim.vairline.core.article.domain.Article"></association>
	</resultMap>


	<insert id="insert" parameterType="org.ifsim.vairline.core.article.domain.Article"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_article
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test=" author != null">
				author,
			</if>
			<if test=" title != null">
				title,
			</if>
			<if test=" head != null">
				head,
			</if>
			<if test=" photo !=null">
				photo,
			</if>
			<if test=" countOfReading != null">
				count_of_reading,
			</if>
			<if test=" content != null">
				content,
			</if>
			<if test=" contentText != null">
				content_text,
			</if>
			<if test=" typeId != null">
				type_id,
			</if>
			<if test=" isOvertime != null">
				is_overtime,
			</if>
			<if test=" createUser != null">
				create_user,
			</if>
			<if test=" updateUser != null">
				update_user
			</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test=" author != null">
				#{author},
			</if>
			<if test=" title != null">
				#{title},
			</if>
			<if test=" head != null">
				#{head},
			</if>
			<if test=" photo !=null">
				#{photo},
			</if>
			<if test=" countOfReading != null">
				#{countOfReading},
			</if>
			<if test=" content != null">
				#{content},
			</if>
			<if test=" contentText != null">
				#{contentText},
			</if>
			<if test=" typeId != null">
				#{typeId},
			</if>
			<if test=" isOvertime != null">
				#{isOvertime},
			</if>
			<if test=" createUser != null">
				#{createUser},
			</if>
			<if test=" updateUser != null">
				#{updateUser}
			</if>
		</trim>
	</insert>

	<delete id="delete" parameterType="org.ifsim.vairline.core.article.domain.Article">
		DELETE FROM t_article
		WHERE id
		= #{id}
	</delete>

	<update id="update" parameterType="org.ifsim.vairline.core.article.domain.Article">
		UPDATE t_article
		<trim prefix="SET" suffixOverrides=",">
			<if test=" author != null">
				author = #{author},
			</if>
			<if test=" title != null">
				title = #{title},
			</if>
			<if test=" head != null">
				head = #{head},
			</if>
			<if test=" photo !=null">
				photo = #{photo},
			</if>
			<if test=" countOfReading != null">
				count_of_reading = #{countOfReading},
			</if>
			<if test=" content != null">
				content = #{content},
			</if>
			<if test=" contentText != null">
				content_text = #{contentText},
			</if>
			<if test=" typeId != null">
				type_id = #{typeId},
			</if>
			<if test=" isOvertime != null">
				is_overtime = #{isOvertime},
			</if>
			<if test=" updateUser != null">
				update_user = #{updateUser},
			</if>
			<if test=" updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test=" del != null">
				del = #{del}
			</if>
		</trim>
		WHERE
		id = #{id}
	</update>

	<select id="get" parameterType="org.ifsim.vairline.core.article.domain.Article"
		resultType="org.ifsim.vairline.core.article.domain.Article">
		SELECT *
		FROM t_article
		<trim prefix="WHERE" prefixOverrides="AND">
			del = 0
			<if test=" author != null">
				AND author = #{author}
			</if>
			<if test=" title != null">
				AND title = #{title}
			</if>
			<if test=" head != null">
				AND head = #{head}
			</if>
			<if test=" photo !=null">
				AND photo = #{photo}
			</if>
			<if test=" countOfReading != null">
				AND count_of_reading = #{countOfReading}
			</if>
			<if test=" content != null">
				AND content = #{content}
			</if>
			<if test=" contentText != null">
				AND content_text = #{contentText}
			</if>
			<if test=" typeId != null">
				AND type_id = #{typeId}
			</if>
			<if test=" isOvertime != null">
				AND is_overtime = #{isOvertime}
			</if>
		</trim>
		ORDER BY update_time desc
	</select>


	<select id="getByPage" parameterType="org.ifsim.vairline.core.article.domain.Article"
		resultType="org.ifsim.vairline.core.article.domain.Article">
		SELECT *
		FROM t_article
		<trim prefix="WHERE" prefixOverrides="AND">
			del = 0
			<if test=" param1 != null">
				<if test=" param1.author != null">
					AND author = #{param1.author}
				</if>
				<if test=" param1.title != null">
					AND title = #{param1.title}
				</if>
				<if test=" param1.head != null">
					AND head = #{param1.head}
				</if>
				<if test=" param1.photo !=null">
					AND photo = #{param1.photo}
				</if>
				<if test=" param1.countOfReading != null">
					AND count_of_reading = #{param1.countOfReading}
				</if>
				<if test=" param1.content != null">
					AND content = #{param1.content}
				</if>
				<if test=" param1.contentText != null">
					AND content_text = #{param1.contentText}
				</if>
				<if test=" param1.typeId != null">
					AND type_id = #{param1.typeId}
				</if>
				<if test=" param1.isOvertime != null">
					AND is_overtime = #{param1.isOvertime}
				</if>
			</if>
		</trim>
		ORDER BY update_time DESC
		LIMIT #{param2.startIndex} ,
		#{param2.pageSize}
	</select>


	<select id="getById" parameterType="org.ifsim.vairline.core.article.domain.Article"
		resultType="org.ifsim.vairline.core.article.domain.Article">
		SELECT *
		FROM t_article
		WHERE id = #{id}
	</select>

	<select id="getByTendency"
		parameterType="org.ifsim.vairline.core.article.domain.ArticleTendency"
		resultMap="articleAndTendencyDtoResultMap">
		SELECT
		a.id a_id,a.author a_author,a.title a_title,a.head
		a_head,a.photo a_photo,a.count_of_reading a_count_of_reading,a.content
		a_content,a.content_text a_content_text,a.type_id
		a_type_id,a.is_overtime
		a_is_overtime,a.create_time
		a_create_time,a.create_user
		a_create_user,a.update_time
		a_update_time,a.update_user
		a_update_user,a.del a_del,
		ate.id
		ate_id,ate.username
		ate_username,ate.photo ate_photo,ate.target_id
		ate_target_id,ate.type
		ate_type,ate.is_comment
		ate_is_comment,ate.target_username
		ate_target_username,ate.is_viewed
		ate_is_viewed,ate.create_time
		ate_create_time,ate.create_user
		ate_create_user,ate.update_time
		ate_update_time,ate.update_user
		ate_update_user,ate.del ate_del
		FROM
		t_article a,t_article_tendency ate
		<trim prefix="WHERE">
			a.del = 0
			AND ate.target_id = a.id
			AND ate.is_comment = 0
			<if test=" username != null">
				AND ate.username = #{username}
			</if>
			<if test=" type != null">
				AND ate.type = #{type}
			</if>
			<if test=" targetUsername != null">
				AND ate.target_username = #{targetUsername}
			</if>
			<if test="isViewed != null">
				ADN ate.is_viewed = #{isViewed}
			</if>
		</trim>
		ORDER BY ate.create_time DESC
	</select>

	<select id="search" resultType="org.ifsim.vairline.core.article.domain.Article">
		SELECT *
		from t_article
		WHERE
		<foreach collection="keys" separator="OR" item="item">
			title LIKE
			'%${item}%'
		</foreach>
		UNION
		SELECT *
		from t_article
		WHERE
		<foreach collection="keys" separator="OR" item="item">
			content LIKE
			'%${item}%'
		</foreach>
		UNION
		SELECT *
		from t_article
		WHERE
		<foreach collection="keys" separator="OR" item="item">
			author LIKE
			'%${item}%'
		</foreach>
	</select>

	<sql id="noContentText">
		id,author,title,head,photo,count_of_reading,type_id,is_overtime,create_time,create_user,update_time,update_user,del
	</sql>
	<select id="searchKey" resultType="org.ifsim.vairline.core.article.domain.Article">
		SELECT
		CONCAT_WS('...',if(LOCATE(#{item},content_text)-10 &lt;=1,'','...'),
		<foreach collection="param1" separator="," item="item">
			SUBSTR(content_text,if(LOCATE(#{item},content_text)-10
			&lt;=1,1,LOCATE(#{item},content_text)-10),300/${param2})
		</foreach>
		) content_text,
		<include refid="noContentText"></include>
		from t_article
		WHERE
		<foreach collection="param1" separator="OR" item="item">
			content_text
			LIKE
			'%${item}%'
		</foreach>
		UNION
		SELECT content_text,
		<include refid="noContentText"></include>
		from t_article
		WHERE
		<foreach collection="param1" separator="OR" item="item">
			title LIKE
			'%${item}%'
		</foreach>
		UNION
		SELECT content_text,
		<include refid="noContentText"></include>
		from t_article
		WHERE
		<foreach collection="param1" separator="OR" item="item">
			author LIKE
			'%${item}%'
		</foreach>
	</select>

	<select id="getCount" parameterType="org.ifsim.vairline.core.article.domain.Article"
		resultType="Integer">
		SELECT COUNT(id)
		FROM t_article
		<trim prefix="WHERE" prefixOverrides="AND">
			del = 0
			<if test=" author != null">
				AND author = #{author}
			</if>
			<if test=" title != null">
				AND title = #{title}
			</if>
			<if test=" head != null">
				AND head = #{head}
			</if>
			<if test=" photo !=null">
				AND photo = #{photo}
			</if>
			<if test=" countOfReading != null">
				AND count_of_reading = #{countOfReading}
			</if>
			<if test=" content != null">
				AND content = #{content}
			</if>
			<if test=" contentText != null">
				AND content_text = #{contentText}
			</if>
			<if test=" typeId != null">
				AND type_id = #{typeId}
			</if>
			<if test=" isOvertime != null">
				AND is_overtime = #{isOvertime}
			</if>
		</trim>
		ORDER BY update_time desc
	</select>
</mapper>
