<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.ifsim.vairline.core.airport.dao.AirportDao">
	<insert id="create" parameterType="org.ifsim.vairline.core.airport.domain.Airport"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		t_airport
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test=" icao != null">
				icao,
			</if>
			<if test=" lng != null">
				lng,
			</if>
			<if test=" lat != null">
				lat,
			</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test=" icao != null">
				#{icao},
			</if>
			<if test=" lng != null">
				#{lng},
			</if>
			<if test=" lat != null">
				#{lat},
			</if>
		</trim>
	</insert>

	<delete id="delete" parameterType="org.ifsim.vairline.core.airport.domain.Airport">
		DELETE FROM t_airport
		WHERE id
		= #{id}
	</delete>

	<update id="update" parameterType="org.ifsim.vairline.core.airport.domain.Airport">
		UPDATE
		t_airport
		<trim prefix="SET" suffixOverrides=",">
			<if test=" icao != null">
				icao = #{icao},
			</if>
			<if test=" lng != null">
				lng = #{lng},
			</if>
			<if test=" lat != null">
				lat = #{lat},
			</if>
		</trim>
		WHERE id = #{id}
	</update>
	<select id="get" parameterType="org.ifsim.vairline.core.airport.domain.Airport"
		resultType="org.ifsim.vairline.core.airport.domain.Airport">
		SELECT *
		FROM t_airport
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test=" icao != null">
				AND icao = #{icao}
			</if>
			<if test=" lng != null">
				AND lng = #{lng}
			</if>
			<if test=" lat != null">
				AND lat = #{lat}
			</if>
		</trim>
	</select>

	<select id="getById" parameterType="org.ifsim.vairline.core.airport.domain.Airport"
		resultType="org.ifsim.vairline.core.airport.domain.Airport">
		SELECT *
		FROM t_airport
		WHERE id = #{id}
	</select>

	<select id="getLikeIcao" parameterType="String"
		resultType="org.ifsim.vairline.core.airport.domain.Airport">
			SELECT *
			FROM t_airport
			WHERE
			icao LIKE CONCAT(#{param1},'%')
			ORDER BY icao
			LIMIT 0,15
	</select>
</mapper>
